/* src/pages/HomePage.module.css */
.homePage {
  flex-grow: 1;
  position: relative; 
  padding: 0; 
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.2em;
  color: var(--text-secondary);
}

.pageTitle {
  padding: 20px;
  margin: 0;
}