/* src/pages/HomePage.module.css */
.homePage {
  flex-grow: 1;
  position: relative;
  padding: 0; /* Glavni padding je kontroliran od strane .pageContent i .notesGrid */
  display: flex; /* Omogućava centriranje poruke ako je to jedini sadržaj */
  flex-direction: column; /* Za NotesGrid i AddNoteButton */
}

.loading,
.noNotesMessageContainer { /* Koristi ovaj kontejner za centriranje poruke */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Da zauzme dostupan prostor ako nema bilješki */
  text-align: center;
  padding: 20px;
}

.noNotesMessage { /* Stil za samu poruku */
  color: var(--text-secondary);
  font-size: 1.2em;
}